  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo hide-on-med-and-down" id="title">BotM</a>
      <span class="yelpPower brand-logo center">Powered by <img src="/img/yelp_logo/iOS&Web/yelp-logo-xsmall.png"></span>
      <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons"><img id="burger-nav-btn" src="https://cdn3.iconfinder.com/data/icons/food-drinks-line-art-1/128/cheeseburger-128.png"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/auth/signup" class="off-white">Signup</a></li>
        <li><a href="/auth/login" class="off-white">Login</a></li>
        <li><a href="#" class="off-white">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="#" class="off-white">Logout</a></li>
      </ul>
    </div>
  </nav>
