<h2>Search for a Burger</h2>


<form action="/results" method="POST">
  <div class="form-group">
    <input id="neighborhood" class="form-control" type="text" name="neighborhood" placeholder="Pick A Neighborhood">
  </div>
  <div class="button">
   <button type ="submit" id="byLocation" class="btn btn-primary">Use My Location</button>
  </div>
    <div>
      <button class="btn btn-primary button" type="submit">Search</button>
    </div>
</form>
