<h2>Profile Page</h2>

<% console.log(favorite) %>

<div class="favorites">
  <a href="<%= favorite.restaurantUrl %>"><%= favorite.restaurantName %></a>
<button type="submit" class="btn-floating waves-effect waves-light red" id="deleteBtn">X</button>
</div>
