<% console.log('$$$$$ ', data); %>

<div id="resultsDiv">
  <h1 class="text-center">Your Burgers</h1>
    <% data.forEach(function(favorite) { %>
    <h5 class="text-center well"><%= favorite.name %></h5>
<% }) %>
</div>
