<% console.log('$$$$$ ', data); %>

<div id="resultsDiv">
  <h1 class="text-center">Your Burgers</h1>
    <% data.forEach(function(favorite) { %>
    <div class="well">
      <h5 class="text-center"><a href="<%= favorite.url %>"><%= favorite.name %></a><img class="imgUrl" src="<%= favorite.rating_img_url %>"></h5>
    </div>
<% }) %>
</div>
