<form action="/update" id="update">

  <label for="userEmail">Email</label>
  <input type="text" id="userEmail" name="userEmail" value="">

  <input id="submit" type="submit" value="Update email" class="waves-effect waves-light red button">
</form>
