body {
  background: url('/img/photo-1428660386617-8d277e7deaf2.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  width: 100%;
}

.nav-wrapper {
  width: 100%;
}
