body {
  background: url('/img/photo-1428660386617-8d277e7deaf2.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#burger-nav-btn {
  height: 90%;
}

body {
  color: #F7F3E5;
}

.off-white, #off-white {
  color: #F7F3E5;
}

nav .brand-logo {
  color: #F7F3E5;
}

div.container {
  background: rgba(255,255,255,0.4);
  padding: 20px;
}

#byLocation {
  float: right;
}

@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}

@media (max-width: 800px) {
   h2 {
      font-size: 2em;
   }
}


















